nav.i-section__social__nav
  button(@click="auth('facebook')").o-connect-btn.o-connect-btn--fb Se connecter avec Facebook
  //- button(@click="auth('twitter')").o-connect-btn.o-connect-btn--tw Log in with Twitter
  button(@click="auth('google')").o-connect-btn.o-connect-btn--gml Se connecter avec Google

  button(@click="auth('instagram')").o-connect-btn.o-connect-btn--inst Se connecter avec Instagram
