div
  a(@click="$store.commit('popinDisplay')").p-abs.ml-2.mt-05.z-5000
    svg(viewBox="0 0 29.67 25.71").o-svg-btn.va-mid
      use(xlink:href="#ico-arrow")
        
  .d-row-flex.f-center.d-flex-vm.d-flex-hm.mb-1.mt-2   
    AppContestInfos(:logo="logo" :brandName="brandName" :desc="desc" :id="id"  )
  hr.o-sep
              
  ul.d-col-flex.d-flex-vm.mb-1.no-list
    li.p-1.f-stl.f-reg
      button(v-if="isMyProfile" @click="displayOptin").no-link.f-dgrey.no-deco Supprimer et quitter le concours
      span(v-else) Concours remporté
