main.o-main.pl-1.pr-1.pb-1
  user-profile(:user="user" @displayPopin="displayPopin = $event")
    
  //- uniquement sur page perso
  user-notification 
  
  user-content(:user="user")
    
  layer-popin(v-show="displayPopin")
    user-settings(@displayPopin="displayPopin = $event")

  
