div
  a(@click="$store.commit('popinDisplay')").p-abs.ml-2.mt-05.z-5000
    svg(viewBox="0 0 29.67 25.71").o-svg-btn.va-mid
      use(xlink:href="#ico-arrow")
        
  .d-row-flex.f-center.d-flex-vm.d-flex-hm.mb-1.mt-2   
    AppContestInfos(:logo="photoData.contestLogo" :brandName="photoData.contestBrandName" :desc="photoData.contestDesc" :id="photoData.idContest"  )
  hr.o-sep
              
  ul.d-col-flex.d-flex-vm.mb-1.no-list
    li.p-1.f-stl.f-reg
      button(v-if="isMyProfile" @click="displayOptin").no-link.f-dgrey.no-deco Supprimer et quitter le concours
      span(v-else) 
        span(:class="{'o-ico-sprite--or': rank === 1, 'o-ico-sprite--argent': rank === 2, 'o-ico-sprite--bronze': rank === 3}").o-ico-sprite.o-ico-sprite--inline.o-ico-sprite--big.va-mid.mt-neg025
        span.ml-1.f-st.f-bold Remporté
