.o-title.d-row-flex.d-flex-spacebet.d-flex-vm.mb-2
  a(@click="$router.go(-1)")
    svg(viewBox="0 0 29.67 25.71").o-svg-btn.va-mid
      use(xlink:href="#ico-arrow")
        
  div.d-row-flex.d-flex-vm.pr-3.pl-3
    img(:src="user.picture").o-profil-pic.brad-100
    span.pl-1.f-bold.f-stm.lineh-1 {{ user.name }}
    span.pl-05.f-grey.f-sxs.lineh-1.f-break {{ user.provider_id }}
  
  button(v-if="isMyProfile" @click="$store.commit('popinDisplay')" value="config", type="button").p-05
    svg(viewBox="0 0 35.37 35.35").o-svg-btn.va-mid
      use(xlink:href="#ico-config") 
  div(v-else).p-05.op-0
    svg(viewBox="0 0 35.37 35.35").o-svg-btn.va-mid
      use(xlink:href="#ico-config") 
