div
  a(@click="$store.commit('popinHide')").p-abs.ml-2.mt-05.z-5000
    svg(viewBox="0 0 29.67 25.71").o-svg-btn.va-mid
      use(xlink:href="#ico-arrow")
        
  ul.d-col-flex.d-flex-vm.mt-2.mb-2.no-list
    li.p-1.f-stl.f-reg
      a(@click="logout").no-link Deconnexion
    //- li.p-1.f-stl.f-reg
    //-   router-link(to="/user/settings/confidential").no-link Confidentialité
    li.p-1.f-stl.f-reg
      router-link(to="/user/settings/cgu").no-link Condition d'utilisation
    li.p-1.f-stl.f-reg
      router-link(to="/user/settings/personal-data").no-link Mes infos personnelles
    li.p-1.mt-3.f-stl.f-reg
      router-link(to="/user/settings/contact").no-link Nous contacter
