@import "~@@/utils/var.less";

.o-main-header{
  position: fixed;
  transition: transform .5s ease;
  z-index: 5999;
}


.o-main-header__nav{
  display: block;
  height: @space-h-unit;
  background: @grad;
}

.o-notif{
  @notifSize: 8px;
  width: @notifSize;
  height: @notifSize;
  top: 0;
  right: 1px;
  background: @red;
}

.o-profilepic{
  width: @space-h-unit - 5px;
  height: @space-h-unit - 5px;
  border-radius: 100%;
}

.o-search{
  position: relative;
  &:after{
    content: '';
    display: block;
    position: absolute;
    bottom:  @space;
    left:  @space * 2;
    right:  @space * 2;
    border-bottom: 1px solid @fg;
  }
}
