nav.i-section__social__nav
  button(@click="auth('facebook')").o-connect-btn.o-connect-btn--fb  Log in with Facebook
  //- button(@click="auth('twitter')").o-connect-btn.o-connect-btn--tw Log in with Twitter
  button(@click="auth('google')").o-connect-btn.o-connect-btn--gml Log in with Gmail
  button(@click="auth('instagram')").o-connect-btn.o-connect-btn--inst Log in with Instagram
