section(v-if="userPhotos").o-profil-pics.d-flex
  router-link(v-for="photo in userPhotos" :key="photo.id" :to="'/photo/' + photo.id" :class="{'o-profil-pics__img--large': photo.rank === 'gold' || photo.rank === 'silver'}").o-profil-pics__img.m-025
    img(:src="photo.file")
    .o-profil-logo
      img(:src="photo.logo").w-100.h-100.brad-100
    div(:class="{'o-ico-sprite--num': photo.rank > 3 || photo.rank === null, 'o-ico-sprite--or': photo.rank === 1, 'o-ico-sprite--argent': photo.rank === 2, 'o-ico-sprite--bronze': photo.rank === 3}").o-ico-sprite.o-ico-sprite--little.va-mid.f-center
      span(v-if="photo.rank > 3 || photo.rank === null").p-abs.p-vhcenter-abs.pt-025.f-sxs.f-bold.f-lgrey {{ photo.rank || 0 }}
  
    
