div
  .o-tile__infos--long.pl-2.pr-2.pt-2.pb-05.sep-aft
    .p-rel.d-row-flex.d-flex-spacebet.d-flex-vm.w-100.sep-aft
      .d-row-flex.d-flex-spacebet.d-flex-vm
        img(:src="logo" alt="logo").o-tile__logo--long.b-1.brad-100
        span.va-mid.pl-1
          span.d-block.f-stm.f-bold {{ brandName }}
          span.d-block.f-cap.f-stl.f-lgrey.f-reg {{ desc }}
        
  .o-popin-ovrflw.pl-2.pr-2.mt-2
    h3.p-rel.pt-2.f-stl.f-reg Règlement complet
    p(v-html="rules").pt-1.f-grey 

  .f-center.f-bold
    | ...
      
  .pl-2.pr-2.mt-1
    input(type="checkbox" name="validRules" v-model="rulesAccepted")#validrules.o-checkbox.mr-05
    label(for="validrules").o-checkbox-label.f-light.f-si J’accepte les conditions d’utilisation
    
    div.d-col-flex.mt-2.pr-4.pl-4
      a(@click.prevent="confirm" :class="{'s--is-disabled': rulesAccepted === false}").o-participation__label Participer

  a(@click="$store.commit('popinHide')").no-link.d-block.mt-2.f-right.pr-2.pb-1.f-grey.f-dec-it annuler
